@model VacationViewModel
@{
    ViewData["Title"] = "Add Vacation to Employee";
}

<h1>@ViewData["Title"]</h1>

<div class="row mt-4">
    <div class="col-md-4 mx-6">
        <form asp-action="AddVacationToEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="TotalDays" class="control-label"></label>
                    <input asp-for="TotalDays" class="form-control" disabled />
                    <span asp-validation-for="TotalDays" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <textarea asp-for="Comment" class="form-control"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VacationType" class="control-label"></label>
                <select class="form-control" asp-for="VacationType" asp-items="Html.GetEnumSelectList<VacationType>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="VacationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">Employee</label>
                <select class="form-control" asp-for="UserId">
                    @foreach (ApplicationUser user in ViewBag.users)
                    {
                        <option value="@user.Id">@user.FullName</option>
                    }
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Vacation" class="btn btn-default" />
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="@Url.Content("~/js/user-management.js")"></script>
}
