<ul class="nav flex-column">
    <li class="nav flex-column">
        <a is-active-route class="nav-link sub-nav-link" id="" asp-action="Details">Profile Information</a>
    </li>
    <li class="nav flex-column">
        <a is-active-route class="nav-link sub-nav-link" id="" asp-action="Manage">Edit Profile</a>
    </li>
    <li class="nav flex-column">
        <a is-active-route class="nav-link sub-nav-link" id="change-password" asp-action="ResetPassword">Reset Password</a>
    </li>
</ul>