@model UserManagementModel

@{
    ViewData["Title"] = "Create Account";
}

<h1>@ViewData["Title"]</h1>

<div class="row mt-4">
    <div class="col-10 mx-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="form-group col">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label asp-for="DateJoined" class="control-label"></label>
                            <input asp-for="DateJoined" class="form-control" />
                            <span asp-validation-for="DateJoined" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label asp-for="Salary" class="control-label"></label>
                            <input asp-for="Salary" class="form-control" />
                            <span asp-validation-for="Salary" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" asp-for="CheckAttendance" id="CheckAttendance" type="checkbox" checked>
                            <label class="custom-control-label" for="CheckAttendance">@Html.DisplayNameFor(model => model.CheckAttendance)</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" asp-for="IsAdmin" id="IsAdmin" type="checkbox">
                            <label class="custom-control-label" for="IsAdmin">@Html.DisplayNameFor(model => model.IsAdmin)</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="form-group col">
                            <label asp-for="WorkStartTime" class="control-label"></label>
                            <input asp-for="WorkStartTime" class="form-control" />
                            <span asp-validation-for="WorkStartTime" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label asp-for="WorkEndTime" class="control-label"></label>
                            <input asp-for="WorkEndTime" class="form-control" />
                            <span asp-validation-for="WorkEndTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label asp-for="GracePeriod" class="control-label"></label>
                            <input asp-for="GracePeriod" class="form-control" />
                            <span asp-validation-for="GracePeriod" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label asp-for="VacationBalance" class="control-label"></label>
                            <input asp-for="VacationBalance" class="form-control" />
                            <span asp-validation-for="VacationBalance" class="text-danger"></span>
                        </div>
                      
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label asp-for="YearlyIncrement" class="control-label"></label>
                            <input asp-for="YearlyIncrement" class="form-control" />
                            <span asp-validation-for="YearlyIncrement" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label asp-for="InsuranceDeduction" class="control-label"></label>
                            <input asp-for="InsuranceDeduction" class="form-control" />
                            <span asp-validation-for="InsuranceDeduction" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label asp-for="HousingAllowance" class="control-label"></label>
                            <input asp-for="HousingAllowance" class="form-control" />
                            <span asp-validation-for="HousingAllowance" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label asp-for="TransportationAllowance" class="control-label"></label>
                            <input asp-for="TransportationAllowance" class="form-control" />
                            <span asp-validation-for="TransportationAllowance" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
