<form asp-action="Reasoning" asp-controller="Home">
    <div class="form-group">
        <textarea name="Comment" class="form-control" placeholder="Why are you late?"></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-default" type="submit">Check In</button>
    </div>
</form>