<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <style>
        .action-button {
            background: #2092c9;
            padding: 1em;
            border-radius: 5px;
            color: #ffffff;
            margin: 1em 0;
            text-decoration: unset;
            display: inline-block;
        }
    </style>
</head>

<body>
    <div class="container">
        <div style="text-align: center;">
            <a href="https://attendance.remal.com"><img src="https://attendance.remal.com/img/brand/remal.png" style="height: 75px;"></a>
            <h2>Remal ATTEND</h2>
        </div>
        <h2 style="color: #2092c9; text-align: center;">{{MessageTitle}}</h2>
        <hr />
        <div style="text-align: center;">
            <h3>{{MessageSubtitle}}</h3>
            <p style="font-size: 18px;">{{MessageText}}</p>
            <a href="{{ActionUrl}}" class="action-button text">{{ActionName}}</a>
        </div>
    </div>
</body>

</html>
